In [6]:
# Daniel Garza Pandas Homework

In [7]:
# Import Pandas
import pandas as pd

In [8]:
# Load file to analyse
file_to_load = "HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [9]:
df = pd.DataFrame(purchase_data)

In [10]:
# Show file data
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [11]:
# Show file data columns
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [12]:
# Player Count - Total Number of Players
total_players = df['SN'].nunique()
total_players

576

In [15]:
# Purchasing Analysis (Total)
purchasing_analysis = df.groupby('Gender').agg({'Purchase ID': ['count'], "Price": ['mean']})
purchasing_analysis

                      Purchase ID     Price
                            count      mean
Gender
Female                        113  3.203009
Male                          652  3.017853
Other / Non-Disclosed          15  3.346000